# Scrape a particular match's information from a particular URL

In [7]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

from bs4 import BeautifulSoup
import re

import pandas as pd

In [2]:
options = webdriver.EdgeOptions()
# options.add_argument('headless')
options.add_argument('inprivate')
driver = webdriver.Edge(options= options)

In [3]:
driver.get('https://qlstats.net/game/8476678')

## Cookie screen

In [4]:
def is_cookie_screen(driver : selenium.webdriver):
    '''A function to check if the given webpage is the 'accept cookies' screen.
    Regex matches the body of the '''
    element = driver.find_element(By.TAG_NAME, value = 'body')
    cookie_screen = re.compile(r'.*(To continue using qlstats, you need to agree to the use of cookies.\nAgree).*')
    if cookie_screen.search(element.text) is None:
        return False
    return True

In [5]:
#press the button
if is_cookie_screen(driver):
    try:
        button = driver.find_element(By.TAG_NAME, 'button')
        button.click()
    except:
        "Cookies could not be accepted, please recheck"

## Scrape

In [10]:
soup = BeautifulSoup(driver.page_source, 'lxml')

### Blue team

In [18]:
soup.find_all('table')[0].find('thead')

<thead>
<tr>
<th class="nick">Nick</th>
<th class="time">Time</th>
<th class="time">Rounds</th>
<th class="kills">Kills</th>
<th class="deaths">Deaths</th>
<th class="kills">Damage Dealt</th>
<th class="deaths">Damage Taken</th>
<th class="score">Score</th>
<th class="score" title="Performance metric for Glicko rating:
scoreboard_score - 0.75*kills +10% for winner team
[adjusted by rounds played]">Perf</th>
<th title="estimated rating ± uncertainty" width="110">Old Glicko</th>
<th class="tdcenter" title="estimated rating / uncertainty" width="110">Glicko Change</th>
</tr>
</thead>

In [6]:
pd.read_html(driver.current_url)[0]

,Nick,Time,Rounds,Kills,Deaths,Damage Dealt,Damage Taken,Score,Perf,Old Glicko,Glicko Change
0,Addy,0:15:39,19,22,12,7230,4887,91,82,1369 ± 33,+7 / 0
1,WOLF,0:15:39,19,12,15,6149,5225,69,66,1219 ± 34,+9 / -1
2,=*=Topgun=*=,0:15:39,19,10,15,5263,5250,59,57,1236 ± 32,-4 / 0
3,roomi,0:15:39,19,13,13,4840,5258,58,53,918 ± 47,+4 / -1
4,Anonymous 1,0:15:39,19,13,12,4428,4828,53,48,691 ± 48,+3 / -1

In [7]:
pd.read_html(driver.current_url, attrs = {'id':'accuracyTable'}, flavor = 'html5lib')

[     Unnamed: 0  Unnamed: 1  SG  GL  RL  LG  RG  PG
 0          Addy         NaN NaN NaN NaN NaN NaN NaN
 1           FOG         NaN NaN NaN NaN NaN NaN NaN
 2          WOLF         NaN NaN NaN NaN NaN NaN NaN
 3      Samooker         NaN NaN NaN NaN NaN NaN NaN
 4     A S U R A         NaN NaN NaN NaN NaN NaN NaN
 5    ibu_hatela         NaN NaN NaN NaN NaN NaN NaN
 6  =*=Topgun=*=         NaN NaN NaN NaN NaN NaN NaN
 7         roomi         NaN NaN NaN NaN NaN NaN NaN
 8   Anonymous 1         NaN NaN NaN NaN NaN NaN NaN
 9   Anonymous 2         NaN NaN NaN NaN NaN NaN NaN]